.Head1 {
  color: blue;
}
.Head1:hover {
  color: black;
}
.subtitle {
  color: DodgerBlue;
}
body {
  background-image: url("http://imgur.com/gallery/nrBo1");
  background-repeat: no-repeat;
  background-size: fit;
}
