.head1 {
  color: blue;
}
.head1:hover {
  color: black;
}
.subtitle {
  color: white;
}
body {
  background-image: url("https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=15&cad=rja&uact=8&ved=0ahUKEwjFqfXi-tLLAhVLox4KHQAwDPUQ_B0IczAO&url=%2Fimgres%3Fimgurl%3Dhttp%3A%2F%2Fwww.urbanfarmonline.com%2Fimages%2Frabbit-keeping%2Frabbit-stats_490.jpg%26imgrefurl%3Dhttp%3A%2F%2Fwww.urbanfarmonline.com%2Furban-livestock%2Frabbits%2Frabbit-stats.aspx%26h%3D350%26w%3D400%26tbnid%3D4Oen3UOMIT8kiM%3A%26tbnh%3D175%26tbnw%3D200%26docid%3DabpIY3dXMR5mkM%26itg%3D1%26usg%3D__ZsaUDbHzdIFNVrUQ6KgsvYfjbNs%3D&usg=AFQjCNGRrK4O8D8Yho5St27CTEtaaTkFXQ&bvm=bv.117218890,d.cWw");
  background-repeat: no-repeat;
  background-size: fit;
}
